* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jogo-base {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(204, 87, 19);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.espinho {
    position: absolute;
    bottom: 0;
    width: 22px;
    animation: espinho-animation 2s infinite linear;
}

@keyframes espinho-animation {
    from {
        right: -22px;
    }

    to {
        right: 100%;
    }
}

.alice {
    position: absolute;
    bottom: 0px;
    width: 70px;
}
.pulo{
    animation: pulo 500ms ease-out;
}

@keyframes pulo {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}


.nuvem{
    position: absolute;
    width: 550px;
    animation: nuvem-animation 10s infinite linear;
}

@keyframes nuvem-animation{
    from{
        right:-550px;
    }

    to{
        right:100%;
    }
}