* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jogo-base {
    width: 100%;
    height: 599px;
    border-bottom: 20px solid rgb(212, 126, 76);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: 3s ease-in-out;
}

.jogo-base.ativo {
    border-bottom-color: rgb(104, 32, 104);
  }

.espinho {
    position: absolute;
    bottom: 0;
    width: 22px;
    transition: 1s ease;
    animation: espinho-animation 2s infinite linear;
}

@keyframes espinho-animation {
    from {
        right: -22px;
    }

    to {
        right: 100%;
    }
}

.alice {
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: 70px;
    transition: 0.5s;
}


.pulo{
    animation: pulo 500ms ease-out;
}

@keyframes pulo {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 230px;
    }

    50% {
        bottom: 230px;
    }

    60% {
        bottom: 230px;
    }

    100% {
        bottom: 0;
    }
}


.planeta{
    position: absolute;
    bottom: 360px;
    width: 150px;
    transition: 1s ease-in-out;
    animation: planeta-animation 15s infinite linear;
}

@keyframes planeta-animation{
    from{
        right:-120px;
    }

    to{
        right:100%;
    }
}


html {
    min-height: 100%;
    background-image: url(IMG/fundo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 3s ease-in-out;
 }

 html.change-bg {
    min-height: 100%;
    background-image: url(IMG/fundo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 

.pontos{
    display: inline-block;
    position: relative;
    top: 5px;
    left: 5px; 
    padding: 5px 10px;
    background-color: #ffffff;
    color: #333333;
    border: 2px solid #333333;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}