* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('IMG/estrelas.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.start-button {
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #4e1369; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: button-animation 2s infinite alternate; 
}

.start-button:hover {
    background-color: #26072e; 
}

@keyframes button-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
